{% extends "guildboard/layout.html" %}
{% block pageTitle %}Add Image{% endblock %}
{% block pageInfo %}Add your image{% endblock %}

{% block title %}Gallery: AddImage{% endblock %}
{% load static %}

{% block body %}
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label style="color: white;" for="description" class="form-label"><strong>Description:</strong></label>
        <input required type="textarea" class="form-control" name="description" style="width: 400px;" id="description" placeholder="Input your description...">
    </div>
    <div class="mb-3">
        <label style="color: white;" for="image" class="form-label"><strong>Image:</strong></label>
        <input multiple type="file" class="form-control-file" name="image" style="width: 400px;" id="files">
    </div>
    <button type="submit" class="btn btn-dark m-3">Submit Image</button>
    
</form>
<div class="imagePreview"></div>
{% endblock%}